acl_dictionary_attack=1
senderverify=0
spamassassin_plugin_CPANEL=1
max_spam_scan_size=1000
acl_dont_delay_greylisting_common_mail_providers=0
filter_attachments=1
exiscanall=0
dsn_advertise_hosts
malware_deferok=1
acl_trustedmailhosts=0
acl_ratelimit=1
acl_spamcop_rbl=0
acl_custom_end_rbl=0
no_forward_outbound_spam_over_int
acl_outgoing_spam_scan=0
spamassassin_plugin_P0f=1
acl_dkim_bl=0
acl_ratelimit_spam_score_over_int
no_forward_outbound_spam=0
custom_mailips=0
acl_0tracksenders=1
acl_custom_begin_rbl=0
custom_mailhelo=0
globalspamassassin=1
tls_require_ciphers=ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
systemfilter=/etc/cpanel_exim_system_filter_mb
rbl_whitelist_greylist_trusted_netblocks=0
acl_primary_hostname_bl=1
acl_deny_rcpt_soft_limit=100
rewrite_from=disable
trust_x_php_script=1
rbl_whitelist_greylist_common_mail_providers=1
spamassassin_plugin_KAM=1
filter_spam_rewrite=1
acl_delay_unknown_hosts=1
acl_requirehelonold=1
acl_mailproviders=1
acl_spamhaus_rbl=0
smarthost_autodiscover_spf_include=1
acl_outgoing_spam_scan_over_int
callouts=0
require_secure_auth=1
spf_include_hosts=emailserver.vn
acl_greylisting=0
filter_fail_spam_score_over_int
use_rdns_for_helo=1
spam_header=[SPAM]
acl_outgoing_malware_scan=0
suspended_account_deliveries=discard
acl_requirehelonoforge=1
hiderecpfailuremessage=1
acl_dkim_disable=1
per_domain_mailips=0
acl_dont_delay_greylisting_trusted_hosts=1
rbl_whitelist_neighbor_netblocks=1
srs=0
spam_deferok=1
allowweakciphers=0
query_apache_for_nobody_senders=1
acl_deny_spam_score_over_int
setsenderheader=0
acl_requirehelo=1
acl_slow_fail_block=1
acl_deny_rcpt_hard_limit=100
acl_spam_scan_secondarymx=1
smarthost_routelist=* {{ smart_host }}::10025
smtputf8_advertise_hosts
spamassassin_plugin_BAYES_POISON_DEFENSE=1
rbl_whitelist=
acl_requirehelosyntax=1
message_linelength_limit=1000000
