HOST {{ ansible_fqdn }}
HOMEDIR /home
ETHDEV eth0
NS {{ nameserver_primary }}
NS2 {{ nameserver_secondary }}
HOMEMATCH home
NSTTL 86400
TTL 14400
ADDR {{ ipv4 }}
DEFMOD jupiter
SCRIPTALIAS y
LOGSTYLE combined
DEFWEBMAILTHEME jupiter
{% if ipv6 is defined %}ADDR6 {{ ipv6  }} {% endif %}
