passwd_pindex=1
passwd_uindex=0
by_view=0
passwd_file=/etc/shadow
passwd_mindex=4
tempdelete_days=7
passwd_cindex=2
path=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin
ld_env=LD_LIBRARY_PATH
find_pid_command=ps auwwwx | grep NAME | grep -v grep | awk '{ print $2 }'
os_type=debian-linux
os_version=11.0
real_os_type=Ubuntu Linux
real_os_version={{ ansible_facts['distribution_version'] }}
lang=en
log=1
referers_none=1
md5pass=0
theme={{ webmin_theme }}
product=webmin
gotomodule=custom
