output {
  elasticsearch {
    hosts => [
      "https://{{ cluster_elasticsearch_host }}:443"
    ]
    api_key => "{{ api_key_statistic_activities }}"
    ssl_enabled => 'true'
    ssl_certificate_authorities => "{{ file_cert_ca }}"
    manage_template => false
    index => "statistic-activities.{{ service }}-quota-%{+YYYY}"
    action => "create"
  }
  stdout { codec => rubydebug }
}
