input {
  file {
    path => "/usr/local/cpanel/logs/api_log"
    sincedb_path => "/dev/null"
    stat_interval => 10
    discover_interval => 15
    add_field => { "Region" => "{{ datacenter | upper }}" }
    add_field => { "Platform" => "{{ platform }}" }
    add_field => { "Product" => "{{ service | capitalize }}" }
  }
}