output {
  if "Audit_API" in [tags] {
    elasticsearch {
      hosts => [
        "https://{{ cluster_elasticsearch_host }}:443"
      ]
      api_key => "{{ api_key_logs_activities }}"
      ssl_enabled => 'true'
      ssl_certificate_authorities => "{{ file_cert_ca }}"
      manage_template => false
      index => "logs-activities.{{ service }}-audit@api-%{+dd.MM.YYYY}"
      action => "create"
    }
    stdout { codec => rubydebug }
  }
}