# cPanel
sshd : {{ ssh_hosts_cpanel | join(', ') }} : allow

# Local
sshd : localhosts : allow

# Tools Remote
sshd : {{ ssh_hosts_remote | join(', ') }} : allow

# Range IP Lan Email on ODS
sshd : {{ ssh_hosts_lan | join(', ') }} : allow

# Range IP Wan Email on ODS
sshd : {{ ssh_hosts_wan | join(', ') }} : allow

# Deny All
sshd : ALL : deny
