# OpenSSH is to specify options with their default value where
Include /etc/ssh/sshd_config.d/*.conf

# Port default SSH
Port 22

# Port alternate SSH
Port {{ ssh_port }}

# Authentication
PermitRootLogin {{ ssh_root }}

PasswordAuthentication {{ ssh_pass }}

PermitEmptyPasswords no

KbdInteractiveAuthentication no

UsePAM no

X11Forwarding no

PrintMotd no

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/openssh/sftp-server

HostKeyAlgorithms +ssh-rsa

PubkeyAcceptedKeyTypes +ssh-rsa

ChallengeResponseAuthentication no
