output {
  if "Exim" in [tags] {
    elasticsearch {
      hosts => [
        "https://{{ cluster_elasticsearch_host }}:443"
      ]
      api_key => "{{ api_key_logs_activities }}"
      ssl_enabled => 'true'
      ssl_certificate_authorities => "{{ file_cert_ca }}"
      manage_template => false
      index => "logs-activities.{{ service }}-transport-%{+MM.YYYY}"
      action => "create"
    }
    stdout { codec => rubydebug }
  }

  if "Login" in [tags] {
    elasticsearch {
      hosts => [
        "https://{{ cluster_elasticsearch_host }}:443"
      ]
      api_key => "{{ api_key_logs_activities }}"
      ssl_enabled => 'true'
      ssl_certificate_authorities => "{{ file_cert_ca }}"
      manage_template => false
      index => "logs-activities.{{ service }}-login-%{+MM.YYYY}"
      action => "create"
    }
    stdout { codec => rubydebug }
  }

  if "Connect" in [tags] {
    elasticsearch {
      hosts => [
        "https://{{ cluster_elasticsearch_host }}:443"
      ]
      api_key => "{{ api_key_logs_activities }}"
      ssl_enabled => 'true'
      ssl_certificate_authorities => "{{ file_cert_ca }}"
      manage_template => false
      index => "logs-activities.{{ service }}-connect-%{+MM.YYYY}"
      action => "create"
    }
    stdout { codec => rubydebug }
  }

  if "Ratelimit" in [tags] {
    elasticsearch {
      hosts => [
        "https://{{ cluster_elasticsearch_host }}:443"
      ]
      api_key => "{{ api_key_logs_activities }}"
      cacert => "{{ file_cert_ca }}"
      ssl => 'true'
      ssl_certificate_verification => 'true'
      manage_template => false
      index => "logs-activities.{{ service }}-ratelimit-%{+MM.YYYY}"
      action => "create"
    }
    stdout { codec => rubydebug }
  }
}