# This file is where you define your pipelines. You can define multiple.
# For more information on multiple pipelines, see the documentation:
#   https://www.elastic.co/guide/en/logstash/current/multiple-pipelines.html

- pipeline.id: email.cp.{{ datacenter }}
  path.config: "/etc/logstash/conf.d/cp/*.conf"
  pipeline.workers: 4
  pipeline.batch.size: 100
  pipeline.ecs_compatibility: disabled

- pipeline.id: email.general.{{ datacenter }}
  path.config: "/etc/logstash/conf.d/general/*.conf"
  pipeline.workers: 1
  pipeline.batch.size: 50
  pipeline.ecs_compatibility: disabled

- pipeline.id: email.quota.{{ datacenter }}
  path.config: "/etc/logstash/conf.d/quota/*.conf"
  pipeline.workers: 1
  pipeline.batch.size: 50
  pipeline.ecs_compatibility: disabled

- pipeline.id: audit.api.{{ datacenter }}
  path.config: "/etc/logstash/conf.d/api/*.conf"
  pipeline.workers: 1
  pipeline.batch.size: 50
  pipeline.ecs_compatibility: disabled

- pipeline.id: audit.access.{{ datacenter }}
  path.config: "/etc/logstash/conf.d/access/*.conf"
  pipeline.workers: 1
  pipeline.batch.size: 50
  pipeline.ecs_compatibility: disabled