/** Set display to none to prevent element "jumping" in screen **/
#taskmenu a.button-cpwebmail {
    display: none;
    height: 65px;
    line-height: 14px;
}

#taskmenu a.button-cpwebmail {
    background-image: url(images/cp-logo-RGB-v42015.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position-y: 10px;
    background-position-x: 50%;
}

#taskmenu a.button-cpwebmail > span {
}

.minimal #topnav {
    height: 43px;
}

.minimal #taskbar a {
    height: 25px;
}

minimal #taskmenu a.button-cpwebmail span.button-inner {
    background-size: 60%;
}

@media screen and (max-width: 480px) {
    #taskmenu a.button-cpwebmail {
        text-align: left;
        height: 47px;
        background-size: 14%;
        background-position-y: 11px;
        background-position-x: 9px;
    }

    #taskmenu a.button-cpwebmail > span {
        display: inline-block;
        width: 100px;
        line-height: 16px;
        margin-top: 6px;
        white-space: normal;
    }

    html.layout-small .popover-header,
    html.layout-phone .popover-header {
        background-color: #08193e;
    }
}

@media screen and (min-width: 481px) {
    #layout-menu {
        background-color: #08193e;
    }

    #layout-menu .popover-header {
        background-color: #08193e !important;
    }

    #taskmenu a.selected,
    #taskmenu a.selected:hover,
    #taskmenu a:hover,
    #taskmenu .action-buttons a:hover,
    #taskmenu a:focus {
        background-color: #0d2966;
    }

    #taskmenu .special-buttons {
        background-color: #08193e;
    }
}

/* this mirrors the styles for the other buttons */
@media screen and (max-width: 1024px) and (min-width: 481px) {
    #taskmenu a.button-cpwebmail {
        width: 42px;
        height: 42px;
    }

    #taskmenu a.button-cpwebmail {
        background-size: 50%;
        background-position: center;
    }
}

/* this mirrors the styles for the other buttons */
@media screen and (max-height: 640px) and (min-width: 769px) {
    #taskmenu a.button-cpwebmail {
        height: 42px;
        width: 100%;
        background-size: 50%;
        background-position: center;
    }
}
