#!/bin/bash
# vIP WAN for HA to Cluster PMG
vIP_WAN={{ vIP_WAN }}
# Port connect from Email Server to Cluster PMG
PORT_TO_PMG=10025
# Port SMTP in to Email Server from Internet
PORT_IN_SMTP=25
# Port SMTP SSL
PORT_SMTP_SSL=465
# Port SMTP TLS
PORT_SMTP_TLS=587
# Port IMAP SSL
PORT_IMAP_SSL=993
# Port POP SSL
PORT_POP_SSL=995

HOSTNAME=$(hostname)
# Tools Nmap
NC=$(which nc)

cPanel=`netstat -tulpn | awk '{ print $7 }' | grep cpsrvd | wc -l`
Exim=`netstat -tulpn | awk '{ print $7 }' | grep exim | wc -l`
Dovecot=`netstat -tulpn | awk '{ print $7 }' | grep dovecot | wc -l`
Apache=$(netstat -tulpn 2>/dev/null | awk '{ print $7 }' | grep httpd | wc -l)
Spamd=`netstat -tulpn | awk '{ print $7 }' | grep spamd | wc -l`
Webmin=`netstat -tulpn | awk '{ print $7 }' | grep perl | wc -l`

# Check the status returned for SMTP with Port 25
echo "QUIT"| $NC -w 5 $HOSTNAME $PORT_IN_SMTP > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  PORT_IN_SMTP=`echo 1`
else
  PORT_IN_SMTP=`echo 0`
fi

# Check the status returned for SMTP with Port 465
echo "QUIT"| $NC -w 5 $HOSTNAME $PORT_SMTP_SSL > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  PORT_SMTP_SSL=`echo 1`
else
  PORT_SMTP_SSL=`echo 0`
fi

# Check the status returned for SMTP with Port 587
echo "QUIT"| $NC -w 5 $HOSTNAME $PORT_SMTP_TLS > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  PORT_SMTP_TLS=`echo 1`
else
  PORT_SMTP_TLS=`echo 0`
fi

#Check the status returned for IMAP with Port 993
echo "QUIT"| $NC -w 5 $HOSTNAME $PORT_IMAP_SSL > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  PORT_IMAP_SSL=`echo 1`
else
  PORT_IMAP_SSL=`echo 0`
fi

#Check the status returned for POP with Port 995
echo "QUIT"| $NC -w 5 $HOSTNAME $PORT_POP_SSL > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  PORT_POP_SSL=`echo 1`
else
  PORT_POP_SSL=`echo 0`
fi

# Check the status returned for HA 1 & 2 with connect GW to vIP WAN via Port 10025
echo "QUIT"| $NC -w 5 $vIP_WAN $PORT_TO_PMG > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  Connect_PMG_vIP_WAN=`echo 1`
else
  Connect_PMG_vIP_WAN=`echo 0`
fi

# Check the status returned for HA 1 & 2 with connect GW to vIP LAN via Port 10025
echo "QUIT"| $NC -w 5 $vIP_LAN $PORT_TO_PMG > /dev/null 2>&1
if [ "$?" -ne "1" ]; then
  Connect_PMG_vIP_LAN=`echo 1`
else
  Connect_PMG_vIP_LAN=`echo 0`
fi

# Create JSON string for SERVICES
echo "$cPanel - $Exim - $Dovecot - $Apache - $Spamd - $Webmin - $PORT_IN_SMTP - $PORT_SMTP_SSL - $PORT_SMTP_TLS - $PORT_IMAP_SSL - $PORT_POP_SSL - $Connect_PMG_vIP_WAN - $Connect_PMG_vIP_LAN"| \
awk \
'{printf("{\
\"cPanel\":%d ,\
\"Exim\":%d ,\
\"Dovecot\":%d ,\
\"Apache\":%d ,\
\"Spamd\":%d ,\
\"Webmin\":%d ,\
\"PORT_IN_SMTP\":%d ,\
\"PORT_SMTP_SSL\":%d ,\
\"PORT_SMTP_TLS\":%d ,\
\"PORT_IMAP_SSL\":%d ,\
\"PORT_POP_SSL\":%d ,\
\"Connect_PMG_vIP_WAN\":%d}" ,\
$1,$3,$5,$7,$9,$11,$13,$15,$17,$19,$21,$23)}'
